.quiz-cards footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quiz-cards footer .skip-level{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 8px 7px 8px 8px;
    background-color: var(--color-grey3);
  }

  .quiz-cards footer .skip-level.active{
    background-color: var(--color-green-light);
  }

  .quiz-cards footer .skip-level svg{
    width: 24px;
    height: 24px;
    color: var(--color-grey2);
  }