* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 16px "Sora", sans-serif;
}

:root {
  --color-grey1: #d9d9d9;
  --color-grey2: #565e6d;
  --color-grey3: #252c3a;
  --color-grey4: #1d2330;
  --color-grey5: #181d28;
  --color-grey6: #161a24;

  /* Feedback */

  --color-green-light: #abf770;
  --color-green-dark: #5cad1d;
  --color-red-light: #f77070;
  --color-red-dark: #ab3030;
  --heading1: 24px;
  --heading2: 16px;
  --score: 20px;
  --quests: 12px;
}

body {
  background: linear-gradient(180deg, #996dff, #633bbc);
}

body *:not(svg, svg *) {
  color: var(--color-grey1);
}

.container-page {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.quiz-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: max-content;
  height: max-content;
  max-width: 100%;
  border-radius: 10px;
  margin: auto;
  padding: 69px 138px;
  gap: 69px;
  background-color: var(--color-grey6);
}

.wrapper-end-game.hidden {
  display: none;
}

.wrapper-end-game {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.wrapper-end-game .end-game-msg {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 10px;
  padding: 32px;
  gap: 56px;
  background-color: var(--color-grey3);
}

.wrapper-end-game .wrapper-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  gap: 24px;
}

.end-game-btn {
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.wrapper-end-game .reset-game {
  background-color: var(--color-green-dark);
  color: var(--color-grey3);
}

.wrapper-end-game .reset-game:hover {
  background-color: var(--color-green-light);
}

.wrapper-end-game .quit-game {
  background-color: var(--color-red-dark);
  color: var(--color-grey3);
}

.wrapper-end-game .quit-game:hover {
  background-color: var(--color-red-light);
}
